# MariaDB/MySQL local
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=EUPagoAmanhaDB
MYSQL_USERNAME=root
MYSQL_PASSWORD=password

# Flask
FLASK_SECRET_KEY=change_me_to_a_long_random_secret
FLASK_ENV=development
BIND_HOST=127.0.0.1
BIND_PORT=5000
